name: "nsjail-cfg"
description: "nsjail config for ctf challenges"

mode: ONCE
# this config uses uidmap since it makes the filesystem much easier to deal with
uidmap { inside_id: "1337", outside_id: "1337", use_newidmap: true }
gidmap { inside_id: "1337", outside_id: "1337", use_newidmap: true }
rlimit_as_type: HARD
rlimit_cpu_type: HARD
rlimit_nofile_type: HARD
rlimit_nproc_type: HARD

cwd: "/home/user"
no_pivotroot: true

mount: [
# no chroot, that should be passed in via cmdline
  {
    dst: "/tmp"
    fstype: "tmpfs"
    rw: true
  },
  {
    src: "/dev"
    dst: "/dev"
    is_bind: true
  },
  {
    src: "/dev/null"
    dst: "/dev/null"
    is_bind: true
  },
  {
    dst: "/proc"
    fstype: "proc"
    rw: true
  },
  {
    src: "/etc/resolv.conf"
    dst: "/etc/resolv.conf"
    is_bind: true
  }
]